<div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{this.img}} alt="Card image cap">
    <div class="card-body">
        <h2 class="card-text">{{this.name}}</h2>
        <p><strong>Edição:</strong> {{this.edition}}</p>
        <p>R$ {{this.price}},00</p>
    </div>
</div>