<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liga Clix</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <img class="logoNav" src="/logoLigaClix.png" alt="Logo da Liga Clix">
    </nav>
    {{{body}}}
    <footer>
        <div>Contatos:</div>
        <div>Rede SOcial:</div>
        <div>Produzido por <strong>Marcio Dias</strong></div>
    </footer>
</body>
</html>